.map{
	height: 400px;
	background: grey;
}
.contacts{
	
}
.footer{
	min-height: 100px;
	margin-top: 10%;

}
.social-links{
	width: auto;
}
.socials{
	margin-top: 10px;
}
 .socials li{
	margin-bottom: 25px;
}
iframe{
	width: 100%;
	height: 100%;
}