
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
        
}
$yellow-color: #FCAC45;

body{
    font-family: 'Amiri', serif;
}
header{
    height: 90vh;
    background-color: black;
}
.logo-letter{
    color: $yellow-color;
    font-size: 24px;
    font-style: normal;
    
}

.logo h3{
    position: fixed;
    padding: 5px;
    top: 5%;
    left: 7%;
    color: #fff;
    font-style: italic;
    letter-spacing: 0.2rem;
    border: 1px solid #fff;
    &:hover{
        cursor: pointer;
        border: none;
        box-shadow: 2px 2px 1px 3px $yellow-color;
    }
}

.navbar-menu{
    display: flex;
    height: 15vh;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 10%;
    padding-bottom: 5px;
    justify-content: flex-end;
}
.navbar-menu li{
    list-style: none;
    margin: 0 20px;
}
.navbar-menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    
        &:hover{
            
            color: $yellow-color;
            border-bottom: 1px solid $yellow-color;
        }        
}
.title{
    text-align: center;
    margin: 11% 0;
}
.title h1{
    color: #949292;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 3.5rem;;
}
.title h2{
    color: #949292;
    font-size: 20px;
    letter-spacing: 0.1rem;
    font-weight: 100;

}
.company-span{
    color: $yellow-color;
    font-weight: bold;
}
.image{
    text-align: center;
    padding: 10% 0 0 30%;
}
.text-about{
    text-align: left;
    width: 60%;
    margin: 10% 10%;
}
.text-about ul{
    list-style: none;
}

//Grid layout 
.grid-container-about-us{
    display: grid;
    grid-template-columns: 50% 50%;
}